body{
    background-color: rgb(100,100,100);
    font-family:'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}